<!DOCTYPE HTML>
<html>
<head>
    <!--Test-->
    <title>Ubic Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="dist/jquery.bootstrap-dropdown-hover.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');

        * {
            font-family: 'Jeju Myeongjo', serif;
        }

        footer {
            background-color: #505050;
            color: #d5d5d5;
            padding: 1.8rem;
        }

        hr.light {
            border-top: 1px solid #d5d5d5;
            width: 80%;
            margin-top: .8rem;
            margin-bottom: 1rem;
        }

        a.navbar-brand:hover {
            background-color: #e0e0e0;
        }

        div#input-group-append {
            display: inline-block;
        }

        /* 유연: Pagination 시도중 */
        /* Builds on bootstrap */
        /* Numbering page listing, since our templating is logicless */

        ol.pagination {
            counter-reset: page-number
        }

        ol.pagination > li > a.page-link::before {
            counter-increment: page-number;
            content: counter(page-number);
        }


        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            margin: 1rem;
        }

        /* The container <div> - needed to position the dropdown content */

        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #3e8e41;}


    </style>


</head>
<body class="container h-100"><!-- py-5 my-3-->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- websocket 의존성 추가 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


<div class="row">
    <h1 class="col-md-6">hello Ubic</h1>

    {{#userId}} <!-- 로그인 했음 이름 출력 -->
        <input type="hidden" value="{{userId}}" id="input-user-id"/>
    {{/userId}}

    <!--검색창 id="btn-search" -->
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" id="input-search-keyword" class="form-control" placeholder="검색어 입력"
                   aria-label="Recipient's username" aria-describedby="btn-search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn-search">Search</button>
            </div>
        </div>
    </div>
</div>

<nav class="px-4 justify-content-start navbar navbar-light bg-list my-2 border border-dark rounded">
    <a class="navbar-brand" href="/">home</a>
    <a class="navbar-brand" href="/products">list</a>
    <!--    <a class="navbar-brand" href="/write">write</a>-->

    <!--로그인-->
    {{#userName}} <!-- 로그인 했음 이름 출력 -->
        Logged in as: <span id="user">{{userName}}</span>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        <!--
                <a href="/mypage" class="btn btn-info active" role="button">MyPage</a>
                <a href="/carts" class="btn btn-info active" role="button">장바구니</a>
                <a href="/orders" class="btn btn-info active" role="button">주문내역</a>
        -->
    {{/userName}}
    {{^userName}} <!-- 안했음 로그인 버튼 -->
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
    {{/userName}}

    <a href="/mypage" class="btn btn-info active btn-sm" role="button">MyPage</a>
    <a href="/carts" class="btn btn-info active btn-sm" role="button">장바구니</a>
    <a href="/orders" class="btn btn-info active btn-sm" role="button">주문내역</a>
    <a href="/my-coupons" class="btn btn-info active btn-sm" id="btn-my-coupons" role="button">내 쿠폰</a>
    <!--<a class="btn btn-lg btn-info" href="/my-coupons">내 쿠폰</a>-->

    <!--비회원 UUID-->
    {{#clientId}}
        비회원id : <span id="browser">{{clientId}}</span>
    {{/clientId}}
</nav>

<!--<div class=" border px-5 my-3">-->