.quantity {
    /*padding-top: 10px;*/
    /*margin-right: 60px;*/
    font-family: 'Roboto', sans-serif;
    /*width: 80px;*/
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    /*font-size: 16px;*/
    font-size: 15px;
    color: #43484D;
    font-weight: 300;
    background-color: transparent;
}

.product_total_price {
    /*margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;*/
    font-weight: bold;
    width: 80px;
}

.product_total_price input {
    /*-webkit-appearance: none;*/
    border: none;
    /*text-align: center;*/
    /*width: 60px;*/
    /*width: 100%;*/
    /*width: auto;*/
    /*font-size: 20px;*/
    background-color: transparent;

    color: #3a79ff;
    font-size: 15px;

    font-weight: bold;
}

.product_total_price span {
    color: #3a79ff;
    font-size: 15px;

    /*float: right;*/
}

.minus-btn {
    width: 20px;
    height: 20px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.plus-btn {
    width: 20px;
    height: 20px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 0px;
}

button:focus,
input:focus {
    outline: 0;
}