{{>layout/header}}

cart-list

<link rel="stylesheet" type="text/css" href="/css/cart-list-quantity.css">

<style>
    body{
        background-color: #f5f5f5;
    }
    .Product-img img{
        width: 100%;
    }
    .main-section{
        font-family: 'Roboto Condensed', sans-serif;
        margin-top:100px;
    }

</style>

<html>
<head>
    <title> 장바구니</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">

    <!--<script language="JavaScript">
        function init(x) {
            var sell_price_length = $(".sell_price").length;
            var sell_price_Data = new Array(sell_price_length);
            for(var i=0; i<sell_price_length; i++) {
                sell_price_Data[i] = $(".sell_price")[i].value;
            }
        }
    </script>-->

    <script language="JavaScript">

        $(document).ready(function() {
            init();
        });

        function init () {
            var sell_price;
            var amount;
            //var init = 0;
            var form_list = document.getElementsByClassName("formlist");
            console.log("form_list length " + form_list.length);
            var amount_list = document.getElementsByClassName("amount");
            console.log("amount length " + amount_list.length); //이거도 수만큼 잘 나오네...

            var init_list = $(".init_c"); // 테이블에 번호를 주어서 form의 index를 가져와볼려고 시도..

            if(form_list.length == 1) {
                sell_price = document.form.sell_price.value;
                amount = document.form.amount.value;
                document.form.sum.value = sell_price;
                //document.init_c.value = 0;
                $('.init_c').val('0');

                hm = document.form.amount;
                sum = document.form.sum;

                if (hm.value < 0) {
                    hm.value = 0;
                }
                sum.value = parseInt(hm.value) * sell_price;
            }

            else {
                for(var i=0; i<form_list.length; i++) {
                    sell_price = document.form[i].sell_price.value;
                    amount = document.form[i].amount.value;
                    document.form[i].sum.value = sell_price;
                    //document.form[i].init_c.value = init;
                    //document.init_c.value = i;
                    console.log("i " + i);
                    //$('.init_c')[i].val(i);
                    $(init_list[i]).val(i);
                    //init++;

                    hm = document.form[i].amount;
                    sum = document.form[i].sum;

                    if (hm.value < 0) {
                        hm.value = 0;
                    }
                    sum.value = parseInt(hm.value) * sell_price;
                }
            }

        }

        $('.minus-btn').on('click', function() {

           // var minus_index = $('.minus-btn').index($(this));
           /*var minus_index = $('.formlist').index($(this));
           console.log(minus_index); 싹다 안된다....*/
           // console.log($(this).index()); 이거도 안돼..
           // console.log($(".minus-btn").index(this)); 안돼..
            //var minus_index = $('.minus-btn').index($(this));
            /*var minus_index = $(".minus-btn").index(this);
            console.log(minus_index);*/

            //https://stackoverflow.com/questions/35960324/getting-the-index-of-a-form-element
            //여기있는 방법 적용
            var all_sellprice = $('[name="sell_price"]');
            var sellprice = $(this).siblings('[name="sell_price"]');
            var minus_index = all_sellprice.index(sellprice.get(0));

            console.log(minus_index);

            hm = document.form[minus_index].amount;
            sum = document.form[minus_index].sum;

            if (hm.value > 1) {
                hm.value -- ;
                sum.value = parseInt(hm.value) * sell_price;
            }
        });

        function add () {
            index = document.init_c.value;
            index = $('.init_c').val();

            hm = document.form[index].amount;
            sum = document.form[index].sum;
            hm.value ++ ;

            sum.value = parseInt(hm.value) * sell_price;
        }

        function del () {
            index = document.getElementsByClassName("init_c");

            hm = document.form[index].amount;
            sum = document.form[index].sum;
            if (hm.value > 1) {
                hm.value -- ;
                sum.value = parseInt(hm.value) * sell_price;
            }
        }

        function change () {
            //index = document.getElementsByClassName("init_c");

            var sum_index = $('.formlist').index($(this));
            console.log(sum_index);

            hm = document.form[sum_index].amount;
            sum = document.form[sum_index].sum;

            if (hm.value < 0) {
                hm.value = 0;
            }
            sum.value = parseInt(hm.value) * sell_price;
        }



        //-->
    </script>

</head>


<body>
<div class="container main-section">
    <div class="row">
        <div class="col-lg-12 pb-2">
            <h4>장바구니</h4>
        </div>
        <div class="col-lg-12 pl-3 pt-3">
            <table class="table table-hover border bg-white">
                <thead>
                <tr>
                    <th>숫자</th>
                    <th>상품정보</th>
                    <th>가격</th>
                    <th style="width:10%;">수량</th>
                    <th>상품금액</th>
                    <th>상품삭제</th>
                </tr>
                </thead>



                {{#shopLists}} <!--List<ShopList>-->
                    {{#shopListProducts}} <!--loop ? ok--> <!--List<ShopListProduct>-->

                        <tbody>
                        <tr>
                            <td><input type=text class="init_c" name="init_c"></td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-2 Product-img">
                                        <img src="{{product.imgUrl}}" alt="..." class="img-responsive"/>
                                    </div>
                                    <div class="col-lg-10">
                                        <h4 class="nomargin">{{product.name}}</h4>
                                        <p>{{product.description}}</p>
                                    </div>
                                </div>
                            </td>
                            <!--<td> {{product.price}} </td>-->
                            <td> {{shopListPrice}} </td>

                            <!--                            <form name="form" method="get" onload="init()">-->
                            <form name="form" class="formlist" method="get">
                                <input type=hidden name="sell_price" value="{{shopListPrice}}">
                                <!--<input type=hidden name="init_c">-->
                                <!--<input type="hidden" name="amount" value="{{count}}">-->

                                <td data-th="Quantity">
                                    <div class="quantity">

<!--                                        <button class="minus-btn" type="button" name="button" value=" - " onclick="del();" >-->
                                        <button class="minus-btn" type="button" name="button" value=" - ">

                                            <img src="/icon/minus-cartlist.svg" alt="" />
                                        </button>

                                        <input type="text" name="amount" class="amount" value="{{count}}" onchange="change();">

                                        <button class="plus-btn" type="button" name="button" value=" + " onclick="add();">

                                            <img src="/icon/plus-cartlist.svg" alt="" />
                                        </button>
                                    </div>
                                </td>

                                <!--<td>{{product.price}}</td>-->
                                <!--<input type="text" name="sum" style="border: none; background: transparent;" readonly>
                                -->

                                <td class="product_total_price">
                                    <!--
                                    <input type="text" name="sum" style="border: none; background: transparent;" readonly>
                                    -->
                                    <input type="text" name="sum" onload="init();" readonly>
                                    <span>원</span>
                                </td>

                            </form>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@채민-데이터 가져오기 끝@@@@@@@@@@@@@@@@@@@@@@@@ -->

                            <td class="actions" data-th="" style="width:10%;">
                                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>

                        </tbody>


                    {{/shopListProducts}}
                {{/shopLists}}

                <tfoot>
                <tr>
                    <td><a href="#" class="btn btn-warning text-white"><i class="fa fa-angle-left"></i> 쇼핑계속하기</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center" style="width:10%;"><strong>총금액: 1억</strong></td>
                    <td><a href="#" class="btn btn-success btn-block">주문하기<i class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<!--<script src="/js/app/cart-list-quantity.js"></script>-->
{{>layout/footer}}