{{>layout/header}}

cart-list

<link rel="stylesheet" type="text/css" href="/css/cart-list-quantity.css">

<style>
    body{
        background-color: #f5f5f5;
    }
    .Product-img img{
        width: 100%;
    }
    .main-section{
        font-family: 'Roboto Condensed', sans-serif;
        margin-top:100px;
    }

</style>

<html>
<head>
    <title> 장바구니</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">

    <!--<script language="JavaScript">
        function init(x) {
            var sell_price_length = $(".sell_price").length;
            var sell_price_Data = new Array(sell_price_length);
            for(var i=0; i<sell_price_length; i++) {
                sell_price_Data[i] = $(".sell_price")[i].value;
            }
        }
    </script>-->
</head>


<body>
<div class="container main-section">
    <div class="row">
        <div class="col-lg-12 pb-2">
            <h4>장바구니</h4>
        </div>
        <div class="col-lg-12 pl-3 pt-3">
            <table class="table table-hover border bg-white">
                <thead>
                <tr>
                    <th>상품정보</th>
                    <th>가격</th>
                    <th style="width:10%;">수량</th>
                    <th>상품금액</th>
                    <th>상품삭제</th>
                </tr>
                </thead>



                {{#shopLists}} <!--List<ShopList>-->
                    {{#shopListProducts}} <!--loop ? ok--> <!--List<ShopListProduct>-->

                        <tbody>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-2 Product-img">
                                        <img src="{{product.imgUrl}}" alt="..." class="img-responsive"/>
                                    </div>
                                    <div class="col-lg-10">
                                        <h4 class="nomargin">{{product.name}}</h4>
                                        <p>{{product.description}}</p>
                                    </div>
                                </div>
                            </td>
                            <!--<td> {{product.price}} </td>-->
                            <td> {{shopListPrice}} </td>

                            <!-- @@@@@@@@@@@@@@@@@@@@@@채민-데이터 가져오기@@@@@@@@@@@@@@@@@@@@@@@@ -->

                            <!--<body onload="init();">-->
                            <script language="JavaScript">

                                $(document).ready(function() {
                                    init();
                                });

                                var sell_price;
                                var amount;
                                //var sum;
                                var i=0;

                                for(var i=0;i<1;i++){


                                    function init () {
                                        sell_price = document.form[0].sell_price.value;
                                        //sell_price=document.getElementById("sell_price").value;
                                        amount = document.form[0].amount.value;
                                        document.form[0].sum.value = sell_price;
                                        //sum = sell_price;
                                        change();
                                    }

                                    function add () {
                                        hm = document.form[0].amount;
                                        sum = document.form[0].sum;
                                        hm.value ++ ;

                                        sum.value = parseInt(hm.value) * sell_price;
                                    }

                                    function del () {
                                        hm = document.form[0].amount;
                                        sum = document.form[0].sum;
                                        if (hm.value > 1) {
                                            hm.value -- ;
                                            sum.value = parseInt(hm.value) * sell_price;
                                        }
                                    }

                                    function change () {
                                        sell_price = document.form[0].sell_price.value;
                                        amount = document.form[0].amount.value;
                                        document.form[0].sum.value = sell_price;

                                        hm = document.form[0].amount;
                                        sum = document.form[0].sum;

                                        if (hm.value < 0) {
                                            hm.value = 0;
                                        }
                                        sum.value = parseInt(hm.value) * sell_price;

                                    }

                                    //document.form[0].sum.write(sum.value);
                                }



                                //-->
                            </script>

                            <!--                            <form name="form" method="get" onload="init()">-->
                            <form name="form" method="get">
                                <input type=hidden name="sell_price" value="{{shopListPrice}}">
                                <!--<input type="hidden" name="amount" value="{{count}}">-->

                                <td data-th="Quantity">
                                    <div class="quantity">

                                        <button class="minus-btn" type="button" name="button" value=" - " onclick="del();" >

                                            <img src="/icon/minus-cartlist.svg" alt="" />
                                        </button>

                                        <input type="text" name="amount" value="{{count}}" onchange="change();">

                                        <button class="plus-btn" type="button" name="button" value=" + " onclick="add();">

                                            <img src="/icon/plus-cartlist.svg" alt="" />
                                        </button>
                                    </div>
                                </td>

                                <!--<td>{{product.price}}</td>-->
                                <!--<input type="text" name="sum" style="border: none; background: transparent;" readonly>
                                -->

                                <td class="product_total_price">
                                    <!--
                                    <input type="text" name="sum" style="border: none; background: transparent;" readonly>
                                    -->
                                    <input type="text" name="sum" onload="init();" readonly>
                                    <span>원</span>
                                </td>

                            </form>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@채민-데이터 가져오기 끝@@@@@@@@@@@@@@@@@@@@@@@@ -->

                            <td class="actions" data-th="" style="width:10%;">
                                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>

                        </tbody>


                    {{/shopListProducts}}
                {{/shopLists}}

                <tfoot>
                <tr>
                    <td><a href="#" class="btn btn-warning text-white"><i class="fa fa-angle-left"></i> 쇼핑계속하기</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center" style="width:10%;"><strong>총금액: 1억</strong></td>
                    <td><a href="#" class="btn btn-success btn-block">주문하기<i class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script src="/js/app/cart-list-quantity.js"></script>
{{>layout/footer}}