{{>layout/header}}

<!--내가 본 상품의 연관 상품-->
<div class="card">
    <div class="card-body">
        - 내가 본 상품의 연관 상품
    </div>
</div>

<!--xx님을 위한 추천상품-->
<div class="card">
    <div class="card-body">
        - xx님을 위한 추천상품
    </div>
</div>

<!--요즘 잘나가는 상품-->
<div class="card">
    <div class="card-body">
        - 요즘 잘나가는 상품
    </div>
</div>

<!--xx님을 위한 할인 상품-->
<div class="card">
    <div class="card-body">
        - xx님을 위한 할인 상품
    </div>
</div>
{{>layout/footer}}