{{>layout/header}}
coupons

{{#couponList}} <!--List<Coupon>-->
<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <span class="badge badge-secondary"
                          style="background-color:darkorange">{{createdDate}}</span>

                    {{#dtype}} <!-- product, category, all 구분하는 badge! -->
                        <span class="badge badge-secondary"
                              style="background-color:darkorange">{{dtype}}</span>
                    {{/dtype}}

                    {{#category}}
                        <span class="badge badge-secondary"
                              style="background-color:darkorange">{{type}}</span>
                    {{/category}}
                </div>
            </div>
            <div class="row">
                <h5 class="card-title">{{name}}</h5> <!--잘나온다!-->
            </div>
            <div class="row">
                <div class="col-10"></div> <!-- -lg 붙여야 하나 ?-->

                <!--쿠폰 사용한 사용자 수-->
                <div class="col-1 mini-text-font" id="userShopListNumber">
                    <span class="material-icons pink00" >check_circle_outline</span> <span class="align-text-bottom">4명</span>
                </div>

                <!--이 상품을 구매한 사람 수--> <!--돈 다발-->
                <div class="col-1 mini-text-font" id="userOrderNumber">
                    <span class="material-icons pink00">payment</span> <span class="align-text-bottom">6명</span>
                </div>

            </div>

            <!--            <h5 class="card-title"></h5>-->
            <!--            <button type="button" class="btn btn-primary btn-lg btn-order"><input type="hidden" value=""/>주문</button>-->
            <!--            <input type="hidden" value="" id="input-cart-order"/>-->
            <!--                    <a href="/orders/new/" class="btn btn-info active" role="button">주문</a>-->
        </div>
    </div>
</div>
{{/couponList}}

{{>layout/footer}}