{{>layout/header}}
<style>
    .img-responsive {
        width: 100%;
    }
</style>


<div class="main1"> 상품 주문 내역</div> <!--위에 order-list-->

{{#orderList}} <!--List<Order>-->

<input type="hidden" value="{{id}}" id="input-order-id"/> <!-- Order 의 id -->

<div class="row" id="order-list-row">
    <div class="card order-list-body" style="width: 100%;">
        <input type="hidden" value="{{id}}"/>

        <div class="card-body"> <!--data-toggle="modal" data-target="#exampleModalScrollable"-->
            <h5 class="card-title">{{title}}</h5> <!--잘나온다!-->
            <h5 class="card-title">{{totalPrice}}</h5>
            <!--            <button type="button" class="btn btn-primary btn-lg" id="btn-cart-order">주문</button>-->
        </div>

        <div>
            <div class="main2"> <!--x y ?-->
                <div id="main21" class="row">
                    <button type="button" class="btn btn-primary btn-xs btn-order-cancel col-2"
                            style="margin-left: 40px; margin-bottom: 20px;"> <!--y x 였다!!-->
                        <input type="hidden" value="{{id}}" class="input-order-id"/>환불 요청
                    </button>


                    <!--                    <button> 환불 요청(주문취소) </button>-->
                    <!--                    <button> 교환 요청</button>-->
                    <!--                    <button> 리뷰 쓰기</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">주문 상세 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--UI 수정, ajax 로 수정-->
                <div id="order-product-list"></div>  <!--주문목록 가져옵니다-->

                <div class="card">
                    <div class="card-body">
                        - 함께산 상품
                    </div>
                </div>
                <div class="buy-together-list" class="row"> <!--함께산 상품 목록 가져옵니다 : 3개-->
                    <!-- 상품목록 id list 가져가서, 관련상품 유사도 내림차 정렬 후 3개 가져오기 -->

                    {{#buyTogetherList}} <!-- List<Product> -->
                        <div class="col-4">
                            <!--이미지-->
                            <div class="row">
                                <img src="{{imgUrl}}" class="img-responsive"/>
                            </div>
                            <!--상품이름-->
                            <div class="row" style="padding-left: 10px; padding-right: 10px;">{{name}}</div>
                        </div>

                        <!--card-->
<!--                        <div class="card col-4" > &lt;!&ndash;style="width: 18rem;"&ndash;&gt;-->
<!--                            <img src="{{imgUrl}}" class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <p >{{name}}</p> &lt;!&ndash;class="card-text"&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
                    {{/buyTogetherList}}
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary btn-order-cancel"><input type="hidden" value="{{id}}"
                                                                                      class="input-order-id"/>주문 취소
                </button>
            </div>
        </div>
    </div>
</div>

{{/orderList}}


<script src="/js/app/order-list.js"></script>

<!--<script src="/js/socket/common.js"></script>-->
<script src="/js/socket/order-number.js"></script>
<!--<script src="/js/socket/buy-together.js"></script>-->
{{>layout/footer}}


