<div class="layout-page-header">
    <h2 class="layout-page-title">주문서</h2>
    <div class="pg_sub_desc">
        <p>주문하실 상품명 및 수량을 정확하게 확인해 주세요.</p>
    </div>
</div>

<h2 class="tit_section fst">상품 정보</h2>

<style type="text/css">
    #orderGoodsList{display:none}
    /* 상품정보 */
    .order_goodslist .tbl_type1 th{border-top:1px solid #333}
    .order_goodslist .tbl_type1 tr:first-child td{border-top:1px solid #ddd}
    .order_goodslist .show_tbl{display:block;position:relative;height:94px}
    .order_goodslist .show_tbl .inner_show{position:absolute;left:0;top:0;width:100%;padding:20px 0 20px;border-top:1px solid #333;border-bottom:1px solid #ddd;font-size:14px;line-height:20px;text-align:center;letter-spacing:-0.3px}
    .order_goodslist .show_tbl .name{padding-bottom:14px}
    .order_goodslist .show_tbl .btn_show{font-size:14px;line-height:20px;font-family:'Noto Sans';font-weight:700;color:#512772}
    .order_goodslist .show_tbl .btn_show .txt{padding-right:12px}
    .order_goodslist .show_tbl .btn_show .ico{width:14px;vertical-align:middle}
</style>

<div class="page_aticle order_goodslist">
    <div class="show_tbl" style="display: none;">
        <div class="inner_show">
            <div class="name">[남향푸드또띠아] 간편 간식 브리또 8종 상품을 주문합니다.</div>
            <a class="btn_show" href="#none"><span class="txt">상세보기</span><img class="ico" src="https://res.kurly.com/pc/ico/1803/ico_arrow_open_28x16.png" alt="열기"></a>
        </div>
    </div>
    <div id="orderGoodsList" style="display: block;">
        <table class="tbl tbl_type1">
            <caption style="display:none">상품 정보 상세보기</caption>
            <colgroup>
                <col style="width:120px">
                <col style="width:auto">
                <col style="width:186px">
            </colgroup>
            <thead>
            <tr>
                <th scope="col"><span class="screen_out">상품이미지</span></th>
                <th scope="col" class="th_info">상품 정보</th>
                <th scope="col">상품금액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <input type="hidden" name="adultpro[]" value="0">
                <td class="thumb">
                    <img src="//img-cf.kurly.com/shop/data/goods/1582679290125s0.jpg" width="150" class="goods-cart-product-image" onerror="this.src='/shop/data/skin/designgj/img/common/noimg_300.gif'">
                </td>
                <td class="info">
                    <div class="name">
                        [남향푸드또띠아] 간편 간식 브리또 8종
                    </div>
                    <dl>
                        <dt> [남향푸드또띠아] 핫 치킨 브리또
                        </dt>
                        <dd>
                            / 3개
                            / 개당 2,800원
                        </dd>
                    </dl>
                </td>
                <td class="price">
                    8,400원
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <input type="hidden" value="1" id="itemCount">
    <input type="hidden" value="[남향푸드또띠아] 간편 간식 브리또 8종" id="itemFstCount">
</div>

