{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/product-list.css">
<link rel="stylesheet" type="text/css" href="/css/product-detail.css">
<link rel="stylesheet" type="text/css" href="/css/product-detail-quantity.css">

<!--
product-detail
-->

<!--
- 상품 이름 :  product.name
- 가격 :  product.price
- 상품 간단 설명 & 중량용량 & 구매수량 :: 다음에...

개수에 따른 총 상품 금액 은 프론트에서 이벤트로 처리해야 할 로직인듯 !
-->
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<style>
    .modal-dialog {
        width: 400px;
    }
    .modal-header {
        background-color: #4c65b7;
        padding:16px 16px;
        color:#FFF;
        /*border-bottom:2px dashed #337AB7;*/
    }

    .modal-footer {
        background-color: #748fb7;
        padding:16px 16px;
        color:#FFF;
        /*border-bottom:2px dashed #337AB7;*/
    }

    .modal-font{
        font-family: 'Do Hyeon', sans-serif;
    }


</style>

<!--이 상품을 함께보고 있는 사람 수-->
<div class="card"> <!---->
    <div class="card-body detail-info-number" >
        <div class="row">
            <input type="hidden" value="{{id}}"/>
            <div class="col-9"></div> <!-- -lg 붙여야 하나 ?-->
            <!-- https://material.io/resources/icons/?search=eye&icon=visibility&style=outline -->
            <!--이 상품을 함께보고 있는 사람 수--> <!--눈 아이콘--> <!--border border-warning rounded align-text-bottom-->
            <div class="col-1  mini-text-font userNumber productUserNumber-{{id}}" id="userNumber">
                <span class="material-icons orange600 d-inline-block" tabindex="0" data-toggle="tooltip"
                      title="이 상품을 함께보고 있는 사람 수">visibility</span> <span class="align-text-bottom">0명</span>
            </div>
            <!--이 상품을 장바구니에 담은 사람 수--> <!--가방 or 카트-->
            <div class="col-1 mini-text-font" id="userShopListNumber">
                <span class="material-icons orange600 d-inline-block" tabindex="0" data-toggle="tooltip"
                      title="이 상품을 장바구니에 담은 사람 수">shopping_cart</span> <span class="align-text-bottom">0명</span>
            </div>
            <!--이 상품을 구매한 사람 수--> <!--돈 다발-->
            <div class="col-1 mini-text-font productOrderUserNumber-{{id}}" id="userOrderNumber">
                <span class="material-icons orange600 d-inline-block " tabindex="0" data-toggle="tooltip"
                      title="이 상품을 구매한 사람 수">payment</span> <span class="align-text-bottom">0명</span>
            </div>
        </div>
<!--        <p class="row" id="userNumber">이 상품을 함께보고 있는 사람 수</p>-->
<!--        <p class="row" id="userShopListNumber">이 상품을 장바구니에 담은 사람 수</p> &lt;!&ndash;가방 or 카트&ndash;&gt;-->
<!--        <p class="row" id="userOrderNumber">이 상품을 구매한 사람 수</p> &lt;!&ndash;돈 다발&ndash;&gt;-->
    </div>
</div>

<!--상품 상세 정보 출력-->
{{#product}}
    <!--{{name}}-->
    <input type="hidden" value="{{id}}" id="input-product-id" class="product-detail-id"/>


    <div class="card-product card">
        <div class="container-fliud">

            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="{{imgUrl}}" alt="상품 대표 이미지" class="img-thumbnail">
                        </div>
                    </div>

                </div>

                <div class="details col-md-6">
                    <h3 class="product-title">{{name}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px">
                        {{#ProductTagList}}
                            <span class="badge badge-warning"
                                  style="background-color:pink">{{tag.name}}</span>
                        {{/ProductTagList}}
                    </div>
                    <p class="product-description">{{description}}</p>
                    <h4 class="price">Price: <span>{{price}}</span> <span class="won">원</span></h4>


<!--                    <body onload="init();">-->
                    <script language="JavaScript">
                        $(document).ready(function () { // 문서가 준비되면
                            init();
                        });

                        var sell_price;
                        var amount;

                        function init() {
                            sell_price = document.form.sell_price.value;
                            amount = document.form.amount.value;
                            document.form.sum.value = sell_price;
                            change();
                        }

                        function add() {
                            hm = document.form.amount;
                            sum = document.form.sum;
                            hm.value++;

                            sum.value = parseInt(hm.value) * sell_price;
                        }

                        function del() {
                            hm = document.form.amount;
                            sum = document.form.sum;
                            if (hm.value > 1) {
                                hm.value--;
                                sum.value = parseInt(hm.value) * sell_price;
                            }
                        }

                        function change() {
                            hm = document.form.amount;
                            sum = document.form.sum;

                            if (hm.value < 0) {
                                hm.value = 0;
                            }
                            sum.value = parseInt(hm.value) * sell_price;
                        }

                        $('#myModal').on('shown.bs.modal', function () {
                            $('#myInput').trigger('focus')
                        })
                    </script>

                    <!--채민 css 부분 -->

                    <form name="form" method="get">

                        <input type=hidden name="sell_price" value="{{price}}">

                        <div class="quantity">

                            <button class="minus-btn" type="button" name="button" value=" - " onclick="del();">
                                <!--<img src="minus.svg" alt="" />-->
                                <img src="/icon/minus.svg" alt=""/>
                            </button>

                            <input type="text" name="amount" value="1" id="count" class="count" onchange="change();">

                            <button class="plus-btn" type="button" name="button" value=" + " onclick="add();">
                                <!--<img src="plus.svg" alt="" />-->
                                <img src="/icon/plus.svg" alt=""/>
                            </button>
                        </div>


                        <h4 class="product_total_price">
                            총 주문 금액:
                            <input type="text" name="sum" readonly>
                            <span>원</span>
                        </h4>


                    </form>

                    <div class="action">
                        <!--
                                <button type="button" class="btn btn-primary btn-lg" id="btn-shoplist">장바구니</button>
                                <button type="button" class="btn btn-primary btn-lg" id="btn-order">바로주문</button>
                        -->  <!--  -from-detail -->
                        <button type="button" class="btn btn-primary btn-lg btn-shoplist"
                                data-toggle="modal" data-target="#exampleModal">
                            <input type="hidden" value="{{id}}"/>
                            <!--<input type="hidden" value= #count/>
                            <input type="hidden" name="amount" value="1" onchange="change();">-->
                            장바구니
                        </button>

                        <button type="button" class="btn btn-primary btn-lg btn-order-immediately-from-detail">
                            <input type="hidden" value="{{id}}"/>바로주문
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/product}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p class="modal-font"> 장바구니 이동</p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-font">
                장바구니에 상품이 담겼습니다. <br />
                장바구니로 이동하시겠습니까?
                </p>
            </div>
            <div class="modal-footer">
                <p class="modal-font">
                    <!-- 1. 글꼴 적용이 안되서 다른방법 시도-->
                    <!--<a class="btn btn-warning" href="/carts" role="button">장바구니로 이동</a>-->

                    <!--2. 이렇게 했는데 /carts로 이동을 안한다 ㅎㅎ...-->
                    <!--<a href="/carts"><button type="button" class="btn btn-warning" data-dismiss="modal">장바구니로 이동</button></a>-->

                    <!-- 3. 구글링으로..-->
                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="callFunction('/carts');">장바구니로 이동</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
                </p>
            </div>
        </div>
    </div>
</div>

<!--<div class="row" id="userNumber">-->

<!--</div>-->

<div class="card">
    <div class="card-body">
        - 상품 카테고리 기반 목록
    </div>
</div>
<div class="row recommended-product-list">
    {{#recommendedList}}
        <div class="col-md-3 product-list-card-body">
            <input type="hidden" value="{{id}}" class="product-detail-id"/>
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        <img src="{{imgUrl}}"/>
                    </div>
                    <div class="product-desc">
                        <!--
                            <span class="product-discount">
                            save 10%
                        </span>
                            -->
                        <a href="#" class="product-name">{{name}}</a>
                        <small class="product-price">{{price}}</small>
                        <div class="small m-t-xs description">
                            {{description}}
                        </div>
                        <div class="m-t text-left">
                            <a href="#" class="btn btn-xs btn-outline btn-success" style="margin-top: 10px">장바구니 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/recommendedList}}
</div>


<div class="card">
    <div class="card-body">
        - 회원님을 위한 할인 상품
    </div>
</div>
<div class="row product-detail-recommended-list">

</div>


<!--<script src="/js/socket/common.js"></script>-->
<!--상품 디테일 소켓 추가-->
<script src="/js/socket/product-detail.js"></script>
<!--상품 카운트 로직 추가-->
<!--<script src="/js/app/product-detail-cal.js"></script>-->
<script src="/js/socket/dash-and-product-detail.js"></script>
<script src="/js/socket/product-list-and-detail.js"></script>
<script src="/js/socket/order-number.js"></script>
{{>layout/footer}}