{{>layout/header}}

product-list
<h3>{{page-total-count}}</h3>
<!--
  $(function () {
        $(".page-item").click(function () {
            $(".page-item").each(function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");


            new URLSearchParams(location.search).get('page');
            for (let p of searchParams) {
                console.log(p);
            }

        });
    });
-->
<script>


    $(document).ready(function () {
        var pageItem = $(".pagination li").not(".prev,.next");
        var prev = $(".pagination li.prev");
        var next = $(".pagination li.next");
        var currentPage = 0;
        //var count = productRepository.countByCategoryId(categoryID) % ubicConfig.productDetailPageSize;
        //console.log(count)

        pageItem.click(function () {
            pageItem.removeClass("active");
            $(this).not(".prev,.next").addClass("active");
            currentPage = new URLSearchParams(location.search).get('page');
            if (currentPage != null) {

                location.href = "http://localhost:8080/products?page=" + (Number(currentPage) + 1).toString(); //
            }
        });

        next.click(function () {
            $('li.active').removeClass('active').next().addClass('active');
            currentPage = new URLSearchParams(location.search).get('page');
            if (currentPage != null) {

                location.href = "http://localhost:8080/products?page=" + (Number(currentPage) + 1).toString(); //
            }
        });

        prev.click(function () {
            $('li.active').removeClass('active').prev().addClass('active');
            currentPage = new URLSearchParams(location.search).get('page');
            //location.href = "http://localhost:8080/products?page=" + (Number(currentPage) - 1).toString(); //
            if (currentPage != null) {
                if (Number(currentPage) - 1 > 0) {
                    location.href = "http://localhost:8080/products?page=" + (Number(currentPage) - 1).toString(); //
                } else {
                    prev.addClass('disabled')
                }
            }
        });


    });

</script>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/product-list.css">


<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg">
            <!-- li태그의 클래스에 disabled를 넣으면 마우스를 위에 올렸을 때 클릭 금지 마크가 나오고 클릭도 되지 않는다.-->
            <!-- disabled의 의미는 앞의 페이지가 존재하지 않다는 뜻이다. -->
            <li class="prev page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- li태그의 클래스에 active를 넣으면 색이 반전되고 클릭도 되지 않는다. -->
            <!-- active의 의미는 현재 페이지의 의미이다. -->
            <!-- <li class="active"> active 보류 -->
            <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=4">4</a></li>
            <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=5">5</a></li>
            <li class="next">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row">
        {{#products}}
            <div class="col-md-3 ">
                <!--<input type="hidden" value="{{id}}"/>-->
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-list-card-body">
                            <input type="hidden" value="{{id}}" class="product-detail-id"/>

                            <!--이미지-->
                            <div class="product-imitation">
                                <img src="{{imgUrl}}"/> <!--[ 사진 ]-->
                            </div>

                            <div class="product-desc">
                                <!-- <span class="product-discount">save 10%</span>-->
                                <a href="#" class="product-name">{{name}}</a>
                                <small class="product-price">{{price}}</small>
                                <div class="small m-t-xs description">
                                    <!--영양 가득한 흑미 즉석밥! 설명 연결~-->
                                    {{description}}
                                </div>
                                <!--
                                                            <div class="m-t text-left">
                                                                <button type="button" style="margin-top: 10px" class="btn btn-xs btn-outline btn-success" id="btn-shoplist">장바구니</button>
                                                                &lt;!&ndash;<a href="#" class="" >장바구니 </a>&ndash;&gt;
                                                            </div>
                                -->
                            </div>
                        </div>

                        <div class="m-t text-left">
                            <button type="button" style="margin-top: 10px"
                                    class="btn btn-xs btn-outline btn-success btn-shoplist" id="btn-shoplist">
                                <input type="hidden" value="{{id}}" id="product-detail-id"/>
                                <!--<input type="hidden" value= "1"/>-->
                                <input type="hidden" id="count" value="1"/>
                                장바구니
                            </button>
                            <!--<a href="#" class="" >장바구니 </a>-->
                        </div>

                    </div>
                </div>
            </div>
        {{/products}}
    </div>
    <!--
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="http://localhost:8080/products?page=3">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        -->
</div>

{{>layout/footer}}