{{>layout/header}}
product-list
<script>

    //이전 버튼 이벤트
    function fn_prev(page, range, rangeSize) {
        var page = ((range - 2) * rangeSize) + 1;
        var range = range - 1;
        var url = "http://localhost:8080/products";
        url = url + "?page=" + page;
        url = url + "&range=" + range;
        location.href = url;
    }

    //페이지 번호 클릭
    function fn_pagination(page, range, rangeSize, searchType, keyword) {
        var url = "http://localhost:8080/products";
        url = url + "?page=" + page;
        url = url + "&range=" + range;
        location.href = url;
    }

    //다음 버튼 이벤트
    function fn_next(page, range, rangeSize) {
        var page = parseInt((range * rangeSize)) + 1;
        var range = parseInt(range) + 1;
        var url = "http://localhost:8080/products";
        url = url + "?page=" + page;
        url = url + "&range=" + range;
        location.href = url;
    }

</script>

<!-- pagination{s} -->

<div id="paginationBox">
    <ul class="pagination justify-content-center">

        <!--이전 버튼-->
        <c:if test="${pagination.prev}">
            <li class="page-item">
                <a class="page-link" href="#"
                   onClick="fn_prev('${pagination.page}', '${pagination.range}', '${pagination.rangeSize}')">&laquo;</a>
            </li>
        </c:if>
        <c:forEach begin="${pagination.startPage}" end="${pagination.endPage}" var="idx">

            <li class="page-item">
                <c:out value="${pagination.page == idx ? 'active' : ''}"/>
                <a class="page-link" href="#"
                     onClick="fn_pagination('${idx}', '${pagination.range}', '${pagination.rangeSize}')"> ${idx} </a>
            </li>

        </c:forEach>



        <!--이후 버튼-->
        <c:if test="${pagination.next}">
            <li class="page-item"><a class="page-link" href="#" onClick="fn_next('${pagination.page}',
'${pagination.range}', '${pagination.rangeSize}')">&raquo;</a></li>
        </c:if>
    </ul>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/product-list.css">

    <div class="container">

        <div class="row">
            {{#products}}
                <div class="col-md-3 ">
                    <!--<input type="hidden" value="{{id}}"/>-->
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div class="product-list-card-body">
                                <input type="hidden" value="{{id}}" class="product-detail-id"/>

                                <!--이미지-->
                                <div class="product-imitation">
                                    <img src="{{imgUrl}}"/> <!--[ 사진 ]-->
                                </div>

                                <div class="product-desc">
                                    <!-- <span class="product-discount">save 10%</span>-->
                                    <a href="#" class="product-name">{{name}}</a>
                                    <small class="product-price">{{price}}</small>
                                    <div class="small m-t-xs description">
                                        <!--영양 가득한 흑미 즉석밥! 설명 연결~-->
                                        {{description}}
                                    </div>
                                    <!--
                                                                <div class="m-t text-left">
                                                                    <button type="button" style="margin-top: 10px" class="btn btn-xs btn-outline btn-success" id="btn-shoplist">장바구니</button>
                                                                    &lt;!&ndash;<a href="#" class="" >장바구니 </a>&ndash;&gt;
                                                                </div>
                                    -->
                                </div>
                            </div>

                            <div class="m-t text-left">
                                <button type="button" style="margin-top: 10px"
                                        class="btn btn-xs btn-outline btn-success btn-shoplist" id="btn-shoplist">
                                    <input type="hidden" value="{{id}}" id="product-detail-id"/>
                                    <!--<input type="hidden" value= "1"/>-->
                                    <input type="hidden" id="count" value="1"/>
                                    장바구니
                                </button>
                                <!--<a href="#" class="" >장바구니 </a>-->
                            </div>

                        </div>
                    </div>
                </div>
            {{/products}}
        </div>

    </div>

{{>layout/footer}}